body{
    background-color: rgba(169, 169, 189, 0.164);
}
.navigation{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(11, 11, 121);
    background-color: white;
    border-radius: 2rem;
    height: 50px;
}

.heading{
    text-align: center;
    color:white;
    border:1px solid black;
    margin-bottom: 0;
    background-color: rgba(0, 0, 255, 0.616);
    border-radius: 0.5rem;
    width: auto;
    height: 1.5rem;
    padding: 0.5%;
}

#aggregates{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 15rem;
    background-color: rgba(20, 38, 143, 0.041);  
    font-weight: 600;
    border-radius: 0.5rem;
    width: 70%;
    margin-left: 15%;
    margin-top: 2%;
    margin-bottom: 2%;
    height: max-content;
    background-size: 100lvh;
}
.aggregatedetails{
    font-size:medium;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    width: fit-content;
    background-color: rgba(224, 224, 228, 0.151);
}
.sectionDisplay{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#memberSummary{
   display:flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   background-color:aliceblue;
   height:auto;
   width: 90%;
   margin-left: 5%;
   margin-top: 2%;
   margin-bottom: 2%;
}

#memberDetails{
    background-color:rgba(20, 38, 143, 0.041);
    height: fit-content;
    width: 80%;
    margin-top: 2%;
    margin-bottom: 2%;
    display:none; 
}
#newMember{
     background-color: aliceblue;
     width: 80%;
     margin-left: 10%;
    height: fit-content;
    margin-top: 2%;
    margin-bottom: 2%;
}
#statistics{
    width: 70%;
    margin-left: 15%;
    height: fit-content;
    background-color:rgba(20, 38, 143, 0.041);
}
.formDisplay{
    margin-top:1%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
input{
    text-align: center;
    height: 2rem;
    color: black;
    border-radius: 1rem;
    border: 1px solid blue;
    width: fit-content;
    min-width: 200px;
}
label{
    font-weight: 700;
}
.container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
    width: 250px;
    border: black 1px solid;
    border-radius: 20px;
    background-color: rgba(20, 38, 143, 0.041);
    padding: 1%;
    margin-top: 7%;
}
.buttons{
    height:25px;
    width: 80px;
    border-radius:10px;
    background-color: rgba(123, 255, 0, 0.452);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}
.buttonDiv{
    display: flex;
    justify-content:flex-start;
    gap:80px;
}
.buttons:hover{
    background-color: rgba(0, 0, 255, 0.507);
}
.detailView{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    align-items:baseline;
}
